---
title: Hello
slug: home
---
extends /_layout
block defs
  - title = 'pug tests'
block body

  hr
  h4 props -- native
  pre.
    filename: #{filename}
    basedir: #{basedir}

  h4 props -- computed
  pre.
    dirname: #{dirname}
    pathname: #{pathname}

  hr
  h4 data-fns
  pre.
    _: #{Object.keys(_)}
    _dateFns: #{Object.keys(_dateFns)}
    $faker: #{Object.keys($faker)}
    $chance: #{Object.keys($chance)}

  hr
  h4 file-fns
  pre.
    require: #{_dump(require('./require-test.js'))}
    filterFiles: #{_dump(filterFiles('..'))}
    markdown: #{markdown('# hello world')}
    markdown: #{markdown('**hello** world', {inline: true})}
    include: #{renderFile('../data-fns/index.pug')}
    imageSize: #{JSON.stringify(imageSize('../../../../logo.svg'))}
  //- pre.
