---
title: So this is pretty cool...
tags: ['foo', 'bar']
---

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title=$page.title
    link(href="/index.css", rel="stylesheet")

  body
    h1 testing
    h2 $data
    pre!= dump($data)
    h2 matchURL
    pre!= dump(matchURL($page, '/*'))
    pre!= dump(matchURL($pages, '/*'))
    h2 $page, $pages
    pre!= dump($page)
    pre!= dump($pages)
    //- pre!= dump(typeof $pages)
