extends /_layout
include /_mixins

block head
  style.
    body { font-family: sans-serif; }

block body
  != JSON.stringify(Object.keys(locals))

  //- include doesnotexist

  h1 Hello world!
  h2 This is the second major revision of this thing.
  h3 This is being served correctly. So, that's something.
  p We have to think about all the stuff we are going to stick in here

  ul NATIVE
    li filename&emsp;&emsp;
      code!= dump(filename)
    li dirname&emsp;&emsp;
      code!= dump(dirname)
    li request&emsp;&emsp;
      code!= dump(request)
    li basedir&emsp;&emsp;
      code!= dump(basedir)
    li pretty&emsp;&emsp;
      code!= dump(pretty)
    li filters&emsp;&emsp;
      code!= dump(filters)
    li debug&emsp;&emsp;
      code!= dump(debug)
    li globals&emsp;&emsp;
      code!= dump(globals)
    li cache&emsp;&emsp;
      code!= dump(cache)
    li name&emsp;&emsp;
      code!= dump(name)

  ul ADDED
    li _
    li env
    li pathname
    li chance()
    li faker()
    li inlineMarkdown()
    li markdown()
    li render(str)
    li renderFile(relPath|absPath)
    li include(relPath|absPath)
